$ethereum-night: #62688f;
$ethereum-light: #8a92b2;
$ethereum-dark: #454a75;
$link: $ethereum-dark;
$logo: #9d9d9d;
$blue: $ethereum-light;
$fa-font-path: "~font-awesome/fonts";
$dimensions: 16 24 32 48 64 96 128 150 350;
