<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
  <meta name="theme-color" content="#8a92b2"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
    rel="icon"
    type="image/png"
    href="<%- require('images/favicon.png') %>"
  />
	<title>Ethcrow</title>
</head>
<body>
  <noscript>This page needs javascript to be enabled!</noscript>
	<div id="root"></div>
</body>
</html>
